
.vs/Hunarmis/FileContentIndex/1f248dae-2b91-4846-9369-d49aef5a8be4.vsidx
.vs/Hunarmis/FileContentIndex/36926034-cfeb-4507-8946-1fdb7d9adcaa.vsidx
*.config
*.pdb
*.pdb
obj/Debug/Hunarmis.dll
*.dll
obj/Debug/Hunarmis.csproj.FileListAbsolute.txt
obj/Debug/Hunarmis.csproj.CoreCompileInputs.cache
*.cache
*.cache
obj/Debug/Hunarmis.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin/Hunarmis.pdb
*.pdb
bin/Hunarmis.pdb
/bin/Hunarmis.dll
/bin/Hunarmis.pdb
/.vs/Hunarmis/v17/.suo
/.vs/Hunarmis/FileContentIndex/1f248dae-2b91-4846-9369-d49aef5a8be4.vsidx
/.vs/Hunarmis/FileContentIndex/36926034-cfeb-4507-8946-1fdb7d9adcaa.vsidx
/.vs/Hunarmis/FileContentIndex/44cf9f0f-1813-468a-a0e5-3298435dca23.vsidx
/.vs/Hunarmis/FileContentIndex/5361fda1-938d-4659-8348-2941ddc4cc20.vsidx
/.vs/Hunarmis/FileContentIndex/5627fd9a-0f3e-46fc-b61b-3a58fa23578e.vsidx
/.vs/Hunarmis/FileContentIndex/5f428c54-3667-4986-b9e4-767713eb4737.vsidx
/.vs/Hunarmis/FileContentIndex/8a871415-8b37-407b-86e0-7016aea090e1.vsidx
/.vs/Hunarmis/FileContentIndex/b7a96ad4-35df-4b90-a2a8-d890308392ea.vsidx
/.vs/Hunarmis/FileContentIndex/c14d3fe3-ca57-4744-804d-aea40b96fd8e.vsidx
/.vs/Hunarmis/FileContentIndex/cf7eae1d-c8e1-4a53-aeb6-c33ec5aa46f2.vsidx
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/Hunarmis.csproj.AssemblyReference.cache
/obj/Debug/Hunarmis.csproj.CoreCompileInputs.cache
/obj/Debug/Hunarmis.csproj.FileListAbsolute.txt
/obj/Debug/Hunarmis.dll
/obj/Debug/Hunarmis.pdb
/.vs/Hunarmis/config/applicationhost.config
Hunarmis/
